<!DOCTYPE html>
<html>
<head>
	<title>Registro</title>
		<meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
 	 <link rel="stylesheet" href="https://unpkg.com/onsenui/css/old-onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script src="js/funciones.js"></script>

</head>
<body>	

	<center>
		<img src="logo.png"><br>
		<h1>Regístrate</h1><br><br>

		
		  <form>

		    <p>

     			 <ons-input type="number" id="expediente" modifier="material" placeholder="Expediente" style="font-size: 50px;" float ng-model="page.username"></ons-input>

            </p>
            <p>

                <ons-input type="text" id="nombre" modifier="material" placeholder="Nombre" style="font-size: 50px;" float ng-model="page.nombre"></ons-input>

          </p>

    		 <p>

     			 <ons-input type="password" id="pass" modifier="material" placeholder="Contraseña" style="font-size: 50px;"  float ng-model="page.pass"></ons-input>

    		</p>
    		
			<p style="margin-top: 30px;">

	      		<ons-button ng-click="page.login()" onclick="registrar()">Registrar</ons-button>
	      		

            </p>
            <p>
                <a href="index.html">Ya tienes una cuenta? Inicia Sesión.</a>
            </p>

		</form>
		
	</center>

</body>
</html>